<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="author" content="Dmitry Sharabin" />
	<meta name="keywords" content="HTML,CSS,Mavo" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Mavo -->
	<link rel="stylesheet prefetch" href="https://get.mavo.io/mavo.min.css" />
	<script src="https://get.mavo.io/mavo.es5.min.js"></script>

	<link rel="stylesheet prefetch" href="style.css" />
	<link rel="icon" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">🔮</text></svg>' />

	<title>Wordle Game</title>
</head>

<body>
	<header>
		<h1 aria-label="Wordle game"><span>Wordle</span><span>·</span><span>game</span></h1>
	</header>

	<main>
		<section mv-app="game" mv-bar="none" class="[if(popup.isShowing, backdrop)]">
			<meta property="hiddenWord" content="[commonWords.randomWord]" mv-if="false" />

			<meta property="isOver" content="[false]" />
			<meta property="result" />

			<meta property="attempt" content="[count(attempts) + 1]" />
			<meta property="wordToCheck" content="[join(wordLetters)]" />
			<meta property="wordLength" content="[len(wordToCheck)]" />
			<meta property="wordValid" content="[wordToCheck in allWords.words or wordToCheck in commonWords.words]" />

			<button id="give-up" class="[if(attempt > 1, visible)]"
				mv-action="set(isOver, true) set(result, 'lost') set(popup.message, hiddenWord) set(popup.cta, 'Play again') set(popup.isShowing, true)"
			>💔 Give up</button>

			<div mv-list="usedLetters" mv-initial-items="0">
				<span mv-list-item style="--row: [floor($index / 5) + 1]"
					class="[if(attempt > floor($index / 5) + 1, if(get(hiddenWord, $index mod 5) = $item, correct, if(contains(hiddenWord, $item), if($item in (split(hiddenWord, '') where split(hiddenWord, '') = split(get(attempts, floor($index / 5)), '')) and len(replace(hiddenWord, $item)) = 4, absent, elsewhere), absent)))]"></span>
			</div>

			<div id="keyboard">
				<div mv-list="keys" mv-value="keyboardLayout.keys">
					<button mv-list-item mv-group
						mv-action="if(wordLength < 5, add(key, usedLetters) & add(key, wordLetters))"
						mv-attribute="data-key"
						class="[if(attempt > 1, if(contains(join(attempts), key), if(key in correctLetters, correct, if(contains(hiddenWord, key), elsewhere, absent))))]"
						style="--row: [row]">[key]</button>

					<button id="bs"
						mv-action="deleteif(wordLength > 0, last(game.usedLetters)) delete(last(game.wordLetters))"
						style="--row: 3; --column: 9">⌫</button>

					<button id="enter" mv-action="
						if(0 < wordLength < 5, set(popup.message, 'Too short') & set(popup.cta, 'Continue') & set(popup.isShowing, true))
						if(wordLength = 5 and attempt <= 6 and !wordValid, set(popup.message, 'Not in a word list') & set(popup.cta, 'Try again') & set(popup.isShowing, true))

						if(wordLength = 5 and attempt = 6 and wordValid and wordToCheck != hiddenWord, set(isOver, true) & set(result, 'lost') & set(popup.message, hiddenWord) & set(popup.cta, 'Play again') & set(popup.isShowing, true))
						if(wordLength = 5 and wordToCheck = hiddenWord, set(isOver, true) & set(result, 'won') & set(popup.message, 'You won! 🎉') & set(popup.cta, 'Play again') & set(popup.isShowing, true))

						if(wordLength = 5 and attempt <= 6 and wordValid, add(wordToCheck, attempts) & add(condense(filter(wordLetters, split(hiddenWord, '') = wordLetters)), correctLetters) & clear(wordLetters))
					" style="--row: 3; --column: 1">Enter</button>
				</div>
			</div>

			<div mv-list="wordLetters" mv-initial-items="0" mv-if="false">
				<span mv-list-item></span>
			</div>

			<div mv-list="correctLetters" mv-initial-items="0" mv-if="false">
				<span></span>
			</div>

			<div mv-list="attempts" mv-initial-items="0" mv-if="false">
				<span mv-list-item></span>
			</div>
		</section>

		<section mv-app="popup" mv-bar="none" class="[if(isShowing, visible)] [if(game.isOver, 'game-over ' & game.result)]">
			<meta property="isShowing" content="[false]" />

			<p property="message"></p>
			<button property="cta" mv-attribute="none" mv-action="
				if(game.isOver, set(commonWords.randomWord, first(shuffle(commonWords.words))) & clear(game.usedLetters, game.correctLetters, game.wordLetters, game.attempts) & set(game.isOver, false))
				set(isShowing, false)
			"></button>
		</section>

		<section mv-app="keyboardLayout" mv-source="keyboard.json" mv-bar="none">
			<meta property="keys" mv-if="false" />
		</section>

		<!-- Credit: https://github.com/tabatkins/wordle-list -->
		<section mv-app="allWords" mv-source="allWords.json" mv-bar="none">
			<meta property="words" mv-if="false" />
		</section>

		<section mv-app="commonWords" mv-source="commonWords.json" mv-bar="none">
			<meta property="randomWord" content="[first(shuffle(words))]" mv-if="false" />
		</section>
	</main>

	<footer>
		<section id="ribbon">
			Made with <a href="https://mavo.io"><img src="https://mavo.io/logo.svg" alt="Mavo logo" /></a>
		</section>
		<section id="attribution">
			<p>
				Built with ❤️ by <a href="https://twitter.com/DmitrySharabin">Dmitry Sharabin</a>. <br />
				Source code is on <a href="https://github.com/DmitrySharabin/mavo-wordle">GitHub</a>.
			</p>
		</section>
	</footer>

</body>

</html>
