<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="author" content="Dmitry Sharabin" />
	<meta name="keywords" content="HTML,CSS,Mavo" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Mavo -->
	<link rel="stylesheet prefetch" href="https://get.mavo.io/mavo.min.css" />
	<script src="https://get.mavo.io/mavo.es5.min.js"></script>

	<link rel="stylesheet prefetch" href="style.css" />
	<link rel="icon" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">🔮</text></svg>' />

	<title>Wordle Game</title>
</head>

<body>
	<header>
		<h1 aria-label="Wordle game"><span>Wordle</span><span>·</span><span>game</span></h1>
	</header>

	<main>
		<section mv-app="game" mv-bar="none" class="[if(popup.isShowing or statistics.isShowing, backdrop)]">
			<meta property="hiddenWord" content="[commonWords.randomWord]" mv-if="false" />

			<meta property="isOver" content="[false]" />
			<meta property="result" />

			<meta property="attempt" content="[count(guesses) + 1]" />
			<meta property="guess" content="[join(guessLetters)]" />
			<meta property="guessLength" content="[len(guess)]" />
			<meta property="guessValid" content="[guess in possibleWords.words or guess in commonWords.words]" />

			<div id="toolbar">
				<button id="give-up" class="[if(attempt > 1, visible)]"
					mv-action="set(isOver, true) set(result, 'lost') set(popup.message, hiddenWord) set(popup.cta, 'Play again') add(group('guess': 0), statistics.games) set(popup.isShowing, true)"
				>Give up</button>

				<img id="show-stats" src="stats-chart.svg" width="32" height="32" alt="Chart icon" role="button" tabindex="0" mv-action="set(statistics.isShowing, true)" aria-label="Show statistics" />
			</div>

			<div mv-list="usedLetters" mv-initial-items="0">
				<div mv-list-item>
					<meta property="state"
						content="[if(attempt > floor($index / 5) + 1, if(get(hiddenWord, $index mod 5) = letter, correct, if(contains(hiddenWord, letter), if(letter in (split(hiddenWord, '') where split(hiddenWord, '') = split(get(guesses, floor($index / 5)), '')) and len(replace(hiddenWord, letter or '')) = 4, absent, elsewhere), absent)))]" />

					<span property="letter" style="--row: [floor($index / 5) + 1]" class="[state]"></span>
				</div>
			</div>

			<div id="keyboard">
				<div mv-list="keys" mv-value="keyboardLayout.keys">
					<button mv-list-item mv-group
						mv-action="if(guessLength < 5, add(group('letter': key), usedLetters) & add(key, guessLetters))"
						mv-attribute="data-key"
						class="[if(attempt > 1, if(contains(join(guesses), key), if(key in correctLetters, correct, if(contains(hiddenWord, key), elsewhere, absent))))]"
						style="--row: [row]">[key]</button>

					<button id="bs"
						mv-action="deleteif(guessLength > 0, last(game.usedLetters)) delete(last(game.guessLetters))"
						style="--row: 3; --column: 9" aria-label="Delete last letter">⌫</button>

					<button id="enter" mv-action="
						if(0 < guessLength < 5, set(popup.message, 'Too short') & set(popup.cta, 'Continue') & set(popup.isShowing, true))
						if(guessLength = 5 and !guessValid, set(popup.message, 'Not in a word list') & set(popup.cta, 'Try again') & set(popup.isShowing, true))

						if(guessLength = 5 and attempt = 6 and guessValid and guess != hiddenWord, set(isOver, true) & set(result, 'lost') & set(popup.message, hiddenWord) & set(popup.cta, 'Play again') & add(group('guess': 0), statistics.games) & set(popup.isShowing, true))
						if(guessLength = 5 and guess = hiddenWord, set(isOver, true) & set(result, 'won') & set(popup.message, 'You won! 🎉') & set(popup.cta, 'Play again') & add(group('guess': attempt), statistics.games) & set(popup.isShowing, true))

						if(guessLength = 5 and guessValid, add(guess, guesses) & add(condense(filter(guessLetters, split(hiddenWord, '') = guessLetters)), correctLetters) & clear(guessLetters))
					" style="--row: 3; --column: 1">Enter</button>
				</div>
			</div>

			<div mv-list="guessLetters" mv-initial-items="0" mv-if="false">
				<span mv-list-item></span>
			</div>

			<div mv-list="correctLetters" mv-initial-items="0" mv-if="false">
				<span></span>
			</div>

			<div mv-list="guesses" mv-initial-items="0" mv-if="false">
				<span mv-list-item></span>
			</div>
		</section>

		<section mv-app="popup" mv-bar="none" class="[if(isShowing, visible)] [if(game.isOver, 'game-over ' & game.result)]">
			<meta property="isShowing" content="[false]" />

			<p property="message"></p>

			<article mv-if="game.isOver and game.result = 'won'">
				<h1>
					Wordle [statistics.played] [count(game.guesses)]/6
				</h1>

				<p mv-list mv-value="game.usedLetters">
					<span mv-list-item="letter" mv-group>
						[if(state = correct, "🟩", if(state = elsewhere, "🟨", "⬜️"))]
					</span>
				</p>

				<button disabled title="Feature to come! Stay tuned.">Share</button>
			</article>

			<button property="cta" mv-attribute="none" mv-action="
				if(game.isOver, set(commonWords.randomWord, first(shuffle(commonWords.words))) & clear(game.usedLetters, game.correctLetters, game.guessLetters, game.guesses) & set(game.isOver, false))
				set(isShowing, false)
			"></button>
		</section>

		<section mv-app="statistics" mv-bar="none" mv-storage="local" mv-autosave class="[if(isShowing, visible)]">
			<meta property="isShowing" content="[false]" />

			<meta property="played" content="[count(games)]" />
			<meta property="wins" content="[count(games where guess > 0) or 0]" />

			<button mv-action="set(isShowing, false)" aria-label="Close dialog">✖️</button>

			<article class="stats">
				<h1>Statistics</h1>

				<span>[statistics.played]</span>
				<span>[round(statistics.wins / statistics.played * 100) or 0]</span>
			</article>

			<article>
				<h1>
					Guess Distribution
				</h1>

				<ol mv-list="guessCount" mv-value="1 .. 6" style="--max: [if(wins > 0, wins, 'initial')]">
					<li mv-list-item mv-attribute="content" style="--value: [value]; [if(value = 0, '--color: initial; --inset: initial;')]">
						<meta property="value" content="[count(filter(games, guess = guessCount)) or 0]" />
						<span>[value]</span>
					</li>
				</ol>
			</article>

			<div mv-list="games" mv-initial-items="0">
				<div mv-list-item>
					<meta property="guess" />
				</div>
			</div>
		</section>

		<section mv-app="keyboardLayout" mv-source="keyboard.json" mv-bar="none">
			<meta property="keys" mv-if="false" />
		</section>

		<!-- Credit: https://github.com/tabatkins/wordle-list -->
		<section mv-app="possibleWords" mv-source="possibleWords.json" mv-bar="none">
			<meta property="words" mv-if="false" />
		</section>

		<!-- Credit: https://github.com/ewinapun/wordle-master -->
		<section mv-app="commonWords" mv-source="commonWords.json" mv-bar="none">
			<meta property="randomWord" content="[first(shuffle(words))]" mv-if="false" />
		</section>
	</main>

	<footer>
		<section id="ribbon">
			Made with <a href="https://mavo.io"><img src="https://mavo.io/logo.svg" alt="Mavo logo" /></a>
		</section>
		<section id="attribution">
			<p>
				Built with ❤️ by <a href="https://twitter.com/DmitrySharabin">Dmitry Sharabin</a>. <br />
				Source code is on <a href="https://github.com/DmitrySharabin/mavo-wordle">GitHub</a>.
			</p>
		</section>
	</footer>

</body>

</html>
